* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(44, 51, 80);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background: url(./img/background.png);
  background-position: center;
  background-attachment: fixed;
}

nav {
  margin-top: 16px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  scrollbar-width: none;
}
a {
  text-decoration: none;
}
.black {
  color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}
.a-text {
  display: flex;
  gap: 20px;
  font-size: 17px;
  font-weight: 500;
  margin-left: 70px;
}
input {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 18px;
}
.input-wrap {
  border: 3px solid rgb(44, 51, 80);
  padding: 6px 0;
  background-color: white;
  border-radius: 8px;
}
#search {
  margin-right: 6px;
  font-size: 20px;
  color: rgb(44, 51, 80);
}
.i-wrap {
  border-right: 2px solid rgb(44, 51, 80);
  margin-left: 6px;
}
.logo {
  margin-left: 50px;
}
.size {
  font-size: 27px;
}
.size2 {
  font-size: 40px;
  display: flex;
}
p {
  font-weight: 400;
}
.my-text {
  position: absolute;
  top: 35%;
  left: 7%;
}
h1 {
  margin-top: -20px;
  margin-bottom: -5px;
  font-size: 75px;
  font-weight: 600;
}
.btn {
  margin-top: 20px;
  margin-left: 50px;
}
button {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding: 10px 16px;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  margin-left: 12px;
  transition: transform 0.15s;
  cursor: pointer;
  background-image: linear-gradient(to right, #1de2d1, rgb(195, 70, 194));
}
button:hover {
  transform: scale(0.95);
}
.span {
  color: #1de2d1;
  border-right: 4px solid #1de2d1;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 15ch;
  animation: title-move 6s steps(16) infinite;
}
@keyframes title-move {
  0% {
    width: 0px;
  }
  25% {
    width: 400px;
  }
  100% {
    width: 0px;
  }
}

.my-text-wrap {
  overflow: hidden;
}
.img {
  position: absolute;
  z-index: -1;
  height: 83%;
  top: 47px;
  right: 80px;
}
.icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  right: 40px;
  bottom: 120px;
  gap: 10px;
}
.fab {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(44, 51, 80);
  transition: opacity 0.15s;
  opacity: 0.6;
}
.fab:hover {
  opacity: 1;
}
@media screen and (max-width: 600px) {
  .input-wrap {
    margin-left: 10px;
  }
}
